/* Spencer Wells 12-13-21--> */

header {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;
color: rgb(0, 0, 0);

}

body {
font-size: medium;
font-weight: bold;
color: purple;

}

bottom {
font-size: small;
font-weight: lighter;
color: darkblue;

}